<%- include("../partials/header",{title:title}) %>
    <header>
        <h1>Fresh Jobs</h1>
        <span>Loading...</span>
        <a href="#">
            Signin to LinkedIn
        </a>
    </header>
    <section id="app">
    </section>
    
<% include ../partials/footer.ejs %>
