<%- include("../partials/header",{title:title}) %>
    <header>
        <h1>Fresh Jobs</h1>
        <span>Loading...</span>
    </header>
    <section id="app">
    </section>
<% include ../partials/footer.ejs %>
