<%- include("../partials/header",{title:title}) %>
    <header>
        <h1>Fresh Jobs</h1>
        <span>Loading...</span>
    </header>
    <section id="app">
    </section>
    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={77ve9y4hc0u1e4}&redirect_uri=https%3A%2F%2Flocalhost:30052Fauth%2Flinkedin%2F&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
        Signin
    </a>
<% include ../partials/footer.ejs %>
